
* {
  box-sizing: border-box;
}

body.mousePressed canvas {
  cursor: none;
}

.highlight {
  background-color: #eaeaea;
  padding: 0 5px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.controls-container {
  max-width: 40vw;
  right: 10px;
  top: 10px;
  left: auto;
}

.color-picker-input {
  height: 100%;
}