
* {
  box-sizing: border-box;
}

body.mousePressed canvas {
  cursor: none;
}

.highlight {
  background-color: #eaeaea;
  padding: 0 5px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.color {
  width: 38px;
}

.color[data-id='green']{
  background: rgb(123,255,0);
}

.color[data-id='blue']{
  background: rgb(0,255,255);
}

.color[data-id='red']{
  background: rgb(255,64,255);
}

.controls-container {
  max-width: 40vw;
  right: 10px;
  top: 10px;
  left: auto;
}